#playgroundScreen {
  .playground-field{
    margin: 0 0.5px;
    border: 0.5px solid #fff;
  }

  .playground-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
