@import "./variables.scss";

#startScreen {
	width: 100vw;
	height: 100vh;
	max-height: 750px;

	display: flex;
	flex-direction: column;
	padding: 20% 0;
	justify-content: space-around;
	align-items: center;

	.logoContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		strong {
			width: 100%;
			display: block;
			text-transform: uppercase;
			font-weight: 400;

			color: white;
			font-size: 30px;
			text-align: center;
		}

		.logo {
			@include main-gradient();

			width: 200px;
			height: 200px;
			margin-top: 40px;
			border-radius: 100px;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: -15px;
				left: 0;

				width: 100%;
				height: 100%;

				background-image: url("../images/ship.svg");
				background-size: cover;
			}
		}
	}

	.btn-play {
		@include main-gradient();
		@include button-styles();
	}
}
